@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  background-image: url(https://cleverprogrammer.github.io/images/sun-pattern.png);
  margin: 0; /* How to remove whitespace above navigation bar */
  font-family: 'Raleway', sans-serif;
  padding-bottom: 50px;

}

h1 {
  color: black;
  margin: 0px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 0;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  /*display: inline;*/
  float: left;
}

li a {
  font-weight: normal;
  font-family: sans-serif;
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

li a:hover {
  background-color: #111;
  color: blue;
  text-decoration: underline;
}

.skynav {
  background-color: orange;
}

.formatted-body {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

br {

}

p {
  font-family: 'Raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
  max-width: 500px;
  margin: auto;
  text-align: left;
  line-height: 2.5em;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  max-width: 500px;
  margin-top: 0;
  margin: auto;
  text-align: left;
}

form {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.teacher {
  vertical-align: middle;
  display: block; /* Centers image --- left/right auto and block */
  border-style: none;
  margin-left: auto;
  margin-right: auto;
}
